.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  gap: 8px;
}

.listPersons {
  width: 75%;
  list-style: none;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.listPersons li {
  padding: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.deleteBtn {
  width: 130px;
  height: 30px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.deleteBtn:hover {
  background-color: rgb(231, 120, 120);
  color:white
}

/*Notification style*/
.notification_success {
  color: green;
  font-size: 24px;
  border-style: solid;
  border-radius: 5px;
  background: lightcyan;
  padding: 8px;
  margin-bottom: 10px;
}

.notification_error {
  color: red;
  font-size: 24px;
  border-style: solid;
  border-radius: 5px;
  background: lightcyan;
  padding: 8px;
  margin-bottom: 10px;
}